ion-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #d9d9d9;
  padding: 0px;
}

ion-icon {
  color: #d9d9d9;
}

ion-header {
  margin-bottom: 30px;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  text-align: center;
  margin-top: 40px;
  color: #d9d9d9;
}

.demo-chart {
  margin-bottom: 15px;
  height: auto !important;
}
