ion-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #d9d9d9;
  padding: 0px;
}

ion-icon {
  color: #d9d9d9;
}

.chart {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.empty {
  text-align: center;
  margin-top: 40px;
  color: #d9d9d9;
}
