<div class="fondo">
  <h1 class="heading">Inicio de sesión</h1>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="inputContainer">
      <i class="fa fa-at" aria-hidden="true"></i>
      <input
        id="email"
        formControlName="email"
        type="text"
        class="inputField"
        placeholder="Ingrese correo electrónico"
      />
    </div>

    <div class="inputContainer">
      <i class="fa fa-key" aria-hidden="true"></i>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="inputField"
        placeholder="Ingrese contraseña"
      />
    </div>

    <button id="button" type="submit">Iniciar Sesión</button>
    <p class="text-center text-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </form>

  <p class="text-center text-access">Acceso rápido</p>
  <div class="buttons-container">
    <button class="btn" (click)="handleQuickAccess('admin@admin.com','111111')">
      Admin
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('invitado@invitado.com','222222')"
    >
      Invitado
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('usuario@usuario.com','333333')"
    >
      Usuario
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('anonimo@anonimo.com', '444444')"
    >
      Anónimo
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('tester@tester.com', '555555')"
    >
      Tester
    </button>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: #dee2e6; font-family: Roboto">Cargando...</p>
</ngx-spinner>
