body {
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Para evitar el scroll durante la animación */
}

.fondo {
  background: #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 60px auto;
  max-width: 330px;
  position: relative;
  /* Animación */
  transform: translateX(100%);
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.heading {
  font-size: 24px;
  color: #003566;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
  color: #003566;
}

.inputIcon {
  margin-right: 10px;
}

.inputField {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  margin-left: 10px;
}

#button {
  background-color: #003566;
  color: #d9d9d9;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
}

#button:hover {
  color: #009fb7;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #dc3545;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-access {
  color: #003566;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.btn {
  background-color: #e7ecef;
  color: #2b2d42;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  color: #003566;
}
