.fondo {
  background: #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin: 40px auto;
  max-width: 340px;
  position: relative;
  transform: translateX(100%);
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.heading {
  font-size: 32px;
  color: #003566;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  color: #003566;

  i {
    margin-right: 10px;
    font-size: 22px;
  }
}

.inputField {
  border: none;
  outline: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 22px;
  max-width: 230px;
  background-color: white;
}

#button {
  background-color: #003566;
  color: #d9d9d9;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 20px;
}

#button:hover {
  color: #009fb7;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #dc3545;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-access {
  color: #003566;
  font-size: 22px;
  font-weight: 600;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.btn {
  background-color: #e7ecef;
  color: #2b2d42;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  color: #003566;
}
