.fondo {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* Para ocultar el desbordamiento */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo {
  border-radius: 50%;
  width: 400px;
  height: 340px;
  object-fit: cover;
  overflow: hidden;
  animation: bounce 2s infinite, slideOut 0.5s ease-in-out forwards 4s;
}

/* Animación de rebote */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Animación de deslizamiento a la izquierda */
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Mover hacia la izquierda */
  }
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
  color: #d9d9d9;
  animation: slideOut 0.5s ease-in-out forwards 4s; /* Desplazamiento al mismo tiempo que la imagen */
}

h1 {
  margin-top: 40px;
  font-size: 33px;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
}
