ion-title,
ion-button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #d9d9d9;
  text-transform: none;
}

.resultIcon {
  margin-right: 10px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding: 16px;
}

.card {
  border: solid #242423;
  color: #d9d9d9;
  font-family: "Ubuntu", sans-serif;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  border-radius: 4px;
  height: 150px;
  margin-bottom: 15px;
}

.card span {
  text-transform: capitalize;
}

.card-button {
  margin-top: 8px;
  background-color: #d9d9d9;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.card-button ion-icon {
  margin-left: 4px;
}

.card-button.checked {
  background-color: #ff4d4d;
}

.vote-fea {
  color: #003566;
}

.vote-linda {
  color: #009fb7;
}

.empty {
  text-align: center;
  margin-top: 40px;
  color: #d9d9d9;
}
