<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title slot="start">Todas las fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="photo-grid" *ngIf="fotos.length">
    <div class="card" *ngFor="let foto of fotos">
      <img [src]="foto.url" [alt]="foto.id" />
      <div>
        <span> {{ foto.tipo }} </span>
        <p>Autor: {{ foto.user.split('@')[0] }}</p>
        <p>Fecha: {{ foto.fecha }}</p>
      </div>
      <button
        class="card-button"
        (click)="vote(foto, 'card-' + foto.id)"
        [ngClass]="{'checked': !checkVotes(foto)}"
      >
        <span [ngClass]="foto.tipo === 'linda' ? 'vote-linda' : 'vote-fea'">
          Votar
          <ion-icon name="heart"></ion-icon
        ></span>
      </button>
    </div>
  </div>
  <p *ngIf="!fotos.length" class="empty">No se encontraron fotos</p>
</ion-content>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: #d9d9d9; font-family: Roboto">Cargando...</p>
</ngx-spinner>
