<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#d9d9d9"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: #dee2e6; font-family: Ubuntu; font-size: 24px">
    Cargando...
  </p>
</ngx-spinner>

<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title slot="start">Subir Fotos</ion-title>
    <ion-button
      aria-label="Logout"
      fill="clear"
      slot="end"
      (click)="handleLogout()"
    >
      <i class="fa fa-sign-out logout" aria-hidden="true"></i>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-wrapper">
  <div class="button-wrapper">
    <button class="top" (click)="handleNicePhoto()">
      <img src="assets/like.png" class="icon" alt="emoji feliz con guiño" />
      <p class="button-label like">Cosas Lindas</p>
    </button>

    <button class="bottom" (click)="handleUglyPhoto()">
      <img src="assets/dislike.png" class="icon" alt="emoji triste" />
      <p class="button-label dislike">Cosas Feas</p>
    </button>
  </div>

  <div *ngIf="uploadMessage.length > 0">
    <ion-toast
      isOpen="uploadMessage.length > 0"
      [message]="uploadMessage"
      [duration]="5000"
      position="middle"
      (didDismiss)="uploadMessage = ''"
      [color]="error ? 'danger' : 'success'"
    ></ion-toast>
  </div>
</ion-content>
