<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title slot="start">Mis fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="photo-grid" *ngIf="fotos.length">
    <div class="card" *ngFor="let foto of fotos">
      <img [src]="foto.url" [alt]="foto.id" />
      <div>
        <span> {{ foto.tipo }} </span>
        <p>Autor: {{ foto.user.split('@')[0] }}</p>
        <p>Fecha: {{ foto.fecha }}</p>
      </div>
    </div>
  </div>
  <p *ngIf="!fotos.length" class="empty">No has subido fotos</p>
</ion-content>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: #d9d9d9; font-family: Roboto">Cargando...</p>
</ngx-spinner>
